* {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
/* DZDateTimePicker */
#dz-calendar,
#dz-timer {
  width: 245px;
  height: auto;
  display: block;
  padding-bottom: 8px;
  position: absolute;
  left: 50%;
  top: 50px;
  background: #FFFFFF;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.16), 0px -1px 1px 0px rgba(0, 0, 0, 0.07), 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  z-index: 3;
  transform: scale(0.25);
  transform-origin: 50% top;
  opacity: 0;
  will-change: transform, opacity;
  transition: transform 0.2s ease, opacity 0.2s ease;
}
#dz-calendar.active,
#dz-timer.active {
  transform: scale(1);
  opacity: 1;
  pointer-events: auto;
}
#dz-calendar:before,
#dz-timer:before {
  content: '';
  width: 12px;
  height: 12px;
  border-radius: 2px;
  transform: rotate(45deg);
  z-index: 2;
  position: absolute;
  left: 50%;
  top: -6px;
  margin-left: -6px;
  background-color: white;
  box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.2);
}
#dz-calendar .dz-title {
  font-size: 13px;
  padding: 8px 8px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
#dz-calendar .dz-title h4 {
  margin: 0;
  padding: 0;
}
#dz-calendar .dz-title button {
  margin-left: auto;
}
#dz-calendar .dz-title button:last-child {
  margin-left: 8px;
}
#dz-calendar .dz-days {
  width: 100%;
  height: 24px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
#dz-calendar .dz-days > div {
  flex: 1;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.54);
}
#dz-calendar .dz-dates {
  width: 100%;
  height: auto;
}
#dz-calendar .dz-dates > div {
  width: 35px;
  height: 24px;
  display: inline-block;
  text-align: center;
  line-height: 24px;
  font-size: 13px;
  font-feature-settings: "tnum";
  color: rgba(0, 0, 0, 0.87);
  position: relative;
}
#dz-calendar .dz-dates > div:hover {
  cursor: pointer;
}
#dz-calendar .dz-dates > div:hover:before {
  content: '';
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  left: 6px;
  top: 0px;
  z-index: -1;
  border-radius: 12px;
  background-color: #EEE;
}
#dz-calendar .dz-dates > div.today {
  color: white;
}
#dz-calendar .dz-dates > div.today:before {
  content: '';
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  left: 6px;
  top: 0px;
  z-index: -1;
  border-radius: 12px;
  background-color: #EEE;
  background-color: #FF5252;
  will-change: background;
  transition: background 0.2s ease;
}
#dz-calendar .dz-dates > div.today:hover:before {
  background-color: #ff6c6c;
}
#dz-calendar .dz-dates > div.selected {
  color: white;
}
#dz-calendar .dz-dates > div.selected:before {
  content: '';
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  left: 6px;
  top: 0px;
  z-index: -1;
  border-radius: 12px;
  background-color: #EEE;
  will-change: background;
  transition: background 0.2s ease;
  background-color: #018AFF;
}
#dz-calendar .dz-dates > div.selected:hover {
  color: #018AFF;
}
#dz-calendar .dz-dates > div.selected:hover:before {
  background-color: #EEEEEE;
}
#dz-calendar .dz-dates > div.disabled {
  pointer-events: none;
  opacity: 0.5;
}
#dz-timer {
  width: auto;
  padding: 8px;
}

