/* DZDateTimePicker */

:root {
    --color-border: rgba(0,0,0,.12);
    --color-base: rgba(255, 255, 255, 1);
    --color-base2: rgba(255, 255, 255, 0.9);
    --color-base3: rgba(255, 255, 255, 0.8);
    --color-text: rgba(0,0,0,0.87);
    --color-title: rgba(0,0,0,1);
    --color-subtext: rgba(0,0,0,.54);

    --color-dzcal-today: #FF5252;
    --color-dzcal-selected: #018AFF;
}

.hideText() {
  text-indent: 1000%;
  white-space: nowrap;
  overflow: hidden;
}

.monospaced() { font-feature-settings: "tnum"; }

.date-trigger, .timer-trigger {
  cursor: pointer;
}

#dz-calendar, #dz-timer {
  padding: 12px;

  width: 252px;
  height: auto;
  display: block;

  position: absolute;

  background: var(--color-base);
  box-shadow: var(--modal-shadow, ~"0px 6px 18px 0px rgba(0,0,0,0.16), 0px -1px 1px 0px rgba(0,0,0,0.07), 0 0 0 1px var(--color-border)");
  border-radius: 8px;

  z-index: 3;

  transform: scale(0.25);
  transform-origin: 50% top;
  opacity: 0;
  will-change: transform, opacity;

  transition: transform 0.2s ease, opacity 0.2s ease;
  pointer-events: none;

  &.active {
      transform: scale(1);
      opacity: 1;
      pointer-events: auto;
  }
}

#dz-calendar {

  padding: 0;
  padding-bottom: 8px;

  .buttons-bar {
    padding-bottom: 8px;
  }

  #dz-prev, #dz-next {
    width: 24px;
    height: 24px;
    background-color: inherit;
    box-shadow: none;

    padding: 0;

    display: block;
    border: none;
    outline: none;

    &:hover {
      cursor: pointer;
    }
  }

  #dz-next {
    margin-left: 8px;
  }

  .dz-title {

    font-size: 13px;
    padding: 8px 8px;
    display: flex;
    align-items: center;

    h4 {
      margin: 0;
      padding: 0;
      font-size: 13px;
      color: var(--color-title);
    }

    button {
      margin-left: auto;

      &:last-child {
        margin-left: 8px;
      }

    }

  }

  .dz-days {
    width: 100%;
    padding: 8px 0;

    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    box-shadow: ~"0 1px 0 0 var(--color-border)";

    > div {
      flex: 1;
      text-align: center;
      font-size: 12px;
      font-weight: 600;
      color: var(--color-subtext);
    }

  }

  .dz-dates {
    width: 100%;
    height: auto;
    padding: 12px 0 4px 0;

    > button {
      width: 36px;
      height: auto;

      display: inline-block;

      background-color: inherit;
      box-shadow: none;

      text-align: center;
      line-height: 24px;
      font-weight: normal;
      font-size: 13px;
      .monospaced();

      color: var(--color-text);

      position: relative;

      padding: 0;
      text-transform: none;
      border-radius: 0;

      appearance: none;
      border:none;
      outline: none;

      .onHover() {
        content: '';
        width: 24px;
        height: 24px;
        display: block;

        position: absolute;
        left: 6px;
        top: 0px;

        z-index: -1;

        border-radius: 12px;

        background-color: var(--color-base3);
      }

      &:hover, &:focus {
        cursor: pointer;

        &:before {
          .onHover();
        }

      }

      &.today {

        color: var(--color-dzcal-today);

        &:before {
          .onHover();
          background-color: var(--color-base);
          will-change: background;
          transition: background 0.2s ease;
        }

        &:hover, &:focus {
          &:before {
            color: var(--color-dzcal-today);
            background-color: var(--color-base3);
          }
        }

      }

      &.selected {

        color: var(--color-base);
        &:before {
          .onHover();
          will-change: background;
          transition: background 0.2s ease;
          background-color: var(--color-dzcal-selected);
        }

        &:hover {
          color: var(--color-dzcal-selected);
          &:before {
            background-color: var(--color-base3);
          }
        }

        &:focus {
          color: var(--color-base);
          &:before {
            background-color: var(--color-dzcal-selected);
          }
        }

      }

      &.disabled {
        pointer-events: none;
        opacity: 0.5;
      }

    }

  }

}

#dz-timer {
  width: auto;
  padding: 8px;
}
