/* DZDateTimePicker */

:root {
    --dzdp-color-border: var(--color-border, rgba(0,0,0,.12));
    --dzdp-color-base: var(--color-base, rgba(255, 255, 255, 1));
    
    --dzdp-color-title: var(--color-title, rgba(0, 0, 0, 1));
    --dzdp-color-text: var(--color-text, rgba(10, 10, 12, 1));
    --dzdp-color-days: var(--color-subtext, rgba(40, 40, 40, 1));

    --dzdp-hover-color: var(--color-base2, rgba(238, 238, 238, 1));
    --dzdp-color-blue: var(--color-blue, rgb(0, 122, 255));
    --dzdp-color-red: var(--color-red, rgb(255, 59, 48));
}

.hideText() {
    text-indent: 1000%;
    white-space: nowrap;
    overflow: hidden;
}

.monospaced() { font-feature-settings: "tnum"; }

.date-trigger, .timer-trigger {
    cursor: pointer;
}

#dz-calendar, #dz-timer {
    padding-top: 8px;
    padding-bottom: 8px;

    width: 245px;
    height: auto;
    display: block;

    padding-bottom: 8px;

    position: absolute;

    background: var(--dzdp-color-base);

    box-shadow: ~"0 2px 6px rgba(0,0,0,0.12), inset 0 0 0 1px var(--dzdp-color-border), 0 4px 21px rgba(0,0,0,0.08)";

    border-radius: 8px;

    z-index: 3;

    transform: scale(0.25);
    transform-origin: 50% top;
    opacity: 0;
    will-change: transform, opacity;

    transition: transform 0.2s ease, opacity 0.2s ease;
    pointer-events: none;

    &.active {
        transform: scale(1);
        opacity: 1;
        pointer-events: auto;
    }

    &:before {
        content: '';
        width: 12px;
        height: 12px;
        border-radius: 2px;
        pointer-events: auto;
        transform: rotate(45deg);

        z-index: 2;

        position: absolute;
        left: 50%;
        top: -6px;
        margin-left: -6px;

        background-color: var(--dzdp-color-base);
        box-shadow: -1px -1px 2px rgba(0,0,0,.2);
    }
}

#dz-calendar {

    padding: 0;
    padding-bottom: 8px;

    .buttons-bar {
        padding-bottom: 8px;
    }

    #dz-prev, #dz-next {
        width: 24px;
        height: 24px;
        background-color: inherit;
        box-shadow: none;

        padding: 0;

        display: block;
        border: none;
        outline: none;

        &:hover {
            cursor: pointer;
        }

        svg path {
            fill: var(--dzdp-color-blue) !important;
        }

    }

    #dz-next {
        margin-left: 8px;
    }
  
    .dz-title {
    
        font-size: 13px;
        padding: 8px 8px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid var(--dzdp-color-border);
        
        h4 {
            margin: 0;
            padding: 0;
            font-size: 13px;
        }
        
        button {
            margin-left: auto;
          
            &:last-child {
                margin-left: 8px;
            }
          
        }
    
    }
  
    .dz-days {
        width: 100%;
        height: 24px;

        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        
        > div {
            flex: 1;
            text-align: center;
            font-size: 12px;
            font-weight: 600;
            color: var(--dzdp-color-days);
        }
    
    }
  
    .dz-dates {
        width: 100%;
        height: auto;

        display: flex;
        flex-wrap: wrap;
    
        > button {
            // width: 35px;
            flex: 0 0 34px;
            height: 24px;
            display: inline-block;

            background-color: transparent;
            box-shadow: none;
            border: none;

            text-align: center;
            line-height: 24px;
            font-weight: normal;
            font-size: 13px;
            .monospaced();

            color: var(--dzdp-color-text);

            position: relative;

            padding: 0;
            text-transform: none;
            border-radius: 0;

            .onHover() {
                content: '';
                width: 24px;
                height: 24px;
                display: block;

                position: absolute;
                left: 6px;
                top: 0px;

                z-index: -1;

                border-radius: 12px;

                background-color: var(--dzdp-hover-color);
            }

            &:hover {
                cursor: pointer;
                color: var(--color-title);

                &:before {
                    .onHover();
                }

            }

            &.today {

                color: var(--dzdp-color-red);
                font-weight: 600;

                &:before {
                    .onHover();
                    background-color: var(--dzdp-hover-color);
                    will-change: background;
                    transition: background 0.2s ease;
                }

                &:hover {
                    &:before {
                        background-color: var(--dzdp-hover-color);
                    }
                }

            }

            &.selected {

                color: white;
                
                &:before {
                    .onHover();
                    will-change: background;
                    transition: background 0.2s ease;
                    background-color: var(--dzdp-color-blue);
                }

                &:hover {
                    color: var(--dzdp-color-blue);
                    &:before {
                        background-color: var(--dzdp-hover-color);
                    }
                }

            }

            &.disabled {
                pointer-events: none;
                opacity: 0.5;
            }

        }

    }
  
}

#dz-timer {
  width: auto;
  padding: 8px;
}

@media (prefers-color-scheme: dark) {
    :root {

        --dzdp-color-base: var(--color-base2, rgba(44, 44, 48, 1));
        --dzdp-hover-color: var(--color-base3, rgba(50, 50, 54, 1));

        --dzdp-color-title: rgba(255, 255, 255, 1);
        --dzdp-color-text: rgba(248, 248, 250, 1);
        --dzdp-color-days: rgba(200, 200, 200, 1);

        // --dzdp-hover-color: rgba(60, 60, 64, 1);
        // --dzdp-color-blue: rgb(10, 132, 255);
        // --dzdp-color-red: rgb(255, 69, 58);
    }

    #dz-calendar, #dz-timer {
        box-shadow: ~"0 2px 6px rgba(0,0,0,0.12), inset 0 0 0 1px var(--dzdp-color-border), 0 4px 21px rgba(0,0,0,1)";
    }

    #dz-calendar {

        #dz-prev, #dz-next {
            svg path {
                fill: var(--dzdp-color-red) !important;
            }
        }

        .dz-title {
            h4 {
                color: var(--dzdp-color-title);
            }
        }

        .dz-dates {

            button {
                border: none;
                box-shadow: none;
                
                &.selected {

                    &:before {
                        background-color: var(--dzdp-color-red);
                    }

                    &:hover {
                        
                        color: var(--dzdp-color-red);

                        &:before {
                            background-color: var(--dzdp-hover-color);
                        }

                    }

                }

            }

        }

    }

}
